google-generativeai==0.7.2
matplotlib
ollama==0.2.1
openai==1.33.0
pandas==2.2.2
xlsxwriter
pdfminer.six==20240706
plotly==5.22.0
PyPDF2==3.0.1
python-dotenv
streamlit==1.35.0
streamlit-option-menu==0.3.13
